@import "tailwindcss";

@font-face {
  font-family: 'Sixtyfour';
  src: url('/fonts/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

.btn-retro-icon {
  @apply cursor-pointer border border-[#a7a2e7] text-current hover:bg-[#a7a2e7] hover:text-[#121212] transition-colors duration-150 h-9 w-9 p-1.5 flex items-center justify-center;
}

.btn-retro-text {
  @apply border border-[#a7a2e7] text-current hover:bg-[#a7a2e7] hover:text-[#121212] transition-colors duration-150 px-4 py-1.5 text-sm inline-flex items-center justify-center;
}

@theme {
  --font-ascii: 'Sixtyfour';
}

@utility h1 {
  font-family: var(--font-ascii), monospace;
  text-shadow: 0 0 5px currentColor;
}

h1 {
  font-family: var(--font-ascii), monospace !important;
  text-shadow: 0 0 5px currentColor !important;
}

p{
  font-size: 1rem;
}