@import "tailwindcss";

/* Fonts and typography */

@font-face {
  font-family: 'Sixtyfour';
  src: url('/fonts/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-ascii: 'Sixtyfour';
  --color-primary: #a7a2e7;
  --color-secondary: #121212;
}

@utility h1 {
  font-family: var(--font-ascii), monospace;
  text-shadow: 0 0 5px currentColor;
}

h1 {
  font-family: var(--font-ascii), monospace !important;
  text-shadow: 0 0 5px currentColor !important;
}

p{
  font-size: 1.1rem;
}

/* Button styles */

.btn-retro-icon {
  @apply cursor-pointer border border-primary text-current hover:bg-primary hover:text-secondary p-1.5 flex items-center justify-center;
}

.btn-retro-text {
  @apply border border-primary text-current hover:bg-primary hover:text-secondary px-4 py-1.5 inline-flex items-center justify-center;
}

.btn-retro-big{
  height: 4rem; 
  width: 4rem; 
  padding: 0.9rem;
}

@media (min-width: 48rem) {
  .md\:hidden {
    display: none !important;
  }
}


/* Personalized tooltip */

[data-title] {
  position: relative;
}

[data-title]::after {
  content: attr(data-title); 
  
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  
  font-family: monospace;
  font-size: inherit;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;
  
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  padding: 4px 8px;
  box-shadow: 0 0 8px rgba(167, 162, 231, 0.4);
  
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
  z-index: 50;
}

[data-title]:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

/* Personalized dropdown (for language selection) */

.dropdown-menu {
  @apply absolute right-0 mt-2 w-36 bg-secondary border border-primary shadow-lg z-50 font-mono;
}

.dropdown-item {
  @apply px-4 py-2 text-sm flex items-center justify-between text-primary hover:bg-primary hover:text-secondary duration-100;
}

.dropdown-item-active {
  @apply font-bold pointer-events-none;
}

.dropdown-item-inactive {
  @apply opacity-80;
}