@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Fonts, themes and typography */

@font-face {
  font-family: 'Sixtyfour';
  src: url('/fonts/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #a7a2e7;
  --secondary-color: #121212;

  --font-ascii: 'Sixtyfour';
}

html.light {
  --primary-color: #121212;
  --secondary-color: #b8b5e3;
}

@theme {
  --font-ascii: var(--font-ascii);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
}

.prose {
  --tw-prose-invert-body: var(--primary-color);
  --tw-prose-links: var(--primary-color);
  --tw-prose-headings: var(--primary-color);
  --tw-prose-code: var(--primary-color);
  --tw-prose-body: var(--primary-color);
  & * {
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

@keyframes pulse-glow {
  0%,
  100% {
    text-shadow: 0 0 5px #b8b5e3;
  }

  50% {
    text-shadow: 0 0 1px #b8b5e3;
  }
}

h1 {
  font-family: var(--font-ascii), monospace !important;
  animation: pulse-glow 3s ease-in-out infinite !important;
}

h2 {
  font-family: var(--font-ascii), monospace !important;
  animation: pulse-glow 3s ease-in-out infinite !important;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
}


/* Button styles */

.btn-retro-icon {
  @apply cursor-pointer border border-primary text-current hover:bg-primary hover:text-secondary p-1.5 flex items-center justify-center;
}

.btn-retro-text {
  @apply border border-primary text-current hover:bg-primary hover:text-secondary px-4 py-1.5 inline-flex items-center justify-center;
}

.btn-retro-big {
  height: 4rem;
  width: 4rem;
  padding: 0.9rem;
}

@media (min-width: 48rem) {
  .md\:hidden {
    display: none !important;
  }
}


/* Personalized tooltip */

[data-title] {
  position: relative;
}

[data-title]::after {
  content: attr(data-title);

  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%) scale(0.9);

  font-family: monospace;
  font-size: inherit;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;

  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  padding: 4px 8px;
  box-shadow: 0 0 8px rgba(167, 162, 231, 0.4);

  opacity: 0;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
  z-index: 50;
}

[data-title]:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}


/* Personalized dropdown (for language selection) */

.dropdown-menu {
  @apply absolute right-0 mt-2 w-36 bg-secondary border border-primary shadow-lg z-50 font-mono;
}

.dropdown-item {
  @apply px-4 py-2 text-sm flex items-center justify-between text-primary hover:bg-primary hover:text-secondary duration-100;
}

.dropdown-item-active {
  @apply font-bold pointer-events-none;
}

.dropdown-item-inactive {
  @apply opacity-80;
}